body{
font-family: Algerian;
background-color:lightblue;
font-size:30x;

}


.a{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size:80x;
	font-family:Arial Rounded MT Bold;
	color: purple;
	border:solid;color:purple;border-width:5px;
}

.b{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px;
	margin: 100px;
	border-radius: 10px;
	font-size:80x;
	background-color:lightgray;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	
}